  
<html>
<body>

 <% for(var i=0; i<student.length; i++){%>
                   
                        <h4  <%= student[i].username %></h4>
                        <h5 <%= student[i].name %></h5>
                        <h6  <%= student[i].img %></h6>

                    </div>
                <% } %>
            </div>

                    
</body>
</html> 